clock.xcodeproj/project.xcworkspace/xcuserdata/tlb.xcuserdatad/UserInterfaceState.xcuserstate
clock.xcodeproj/xcuserdata/tlb.xcuserdatad/xcschemes/clock.xcscheme
clock.xcodeproj/xcuserdata/tlb.xcuserdatad/xcschemes/xcschememanagement.plist
